<!DOCTYPE html>
<html>
  <head>
    <title>Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    
        
        

=======
  <p> <% if logged_in? %>
      Logged in as: <%= @current_student.email%>
      <% end %>
<br> </p>
>>>>>>> 59c16b1ba75dc72c0cb458c17fc8186dc84d5acb
    <%= render :partial => "layouts/header" %>
    <%= yield %>
    <p> <% if logged_in? %>
            Logged in as: <%= @current_student.email%>
            <% end %>
            <br> 
    </p>
  </body>
</html>
