<h1>Roster List:</h1>

<table>
  <% @rosters = Roster.all %>
  <% @teams = Team.all %>
  <% @students = Student.all %>


  <tr>
  <% @teams.each do |team| %>
    <th>
      <%= team.tName %>
    </th>
      <% team.students.each do |student| %>
        <td>
        <%= student.fname %>
        </td>
      <% end %>
  <% end %>
  </tr>


  <% @rosters.each do |roster| %>
  <tr>
      <td><%= roster.student_id %></td>
      <td><%= roster.team_id %></td>
  </tr>
  <% end %>
    </table>

<%= link_to "new roster", roster_newRost_path %>