<h1>Assign Students</h1>

<table>
  <%=  form_with model: @student do |form| %>
  <% @students = Student.all %>
  <% @students.each do |student| %>
    <tr>
        <input type="checkbox" id="<%= student.id %>">
        <label for="<%= student.id %>">
          <%= student.fname %>
          <%= student.lname %>
          <%= student.email %>
        </label>
    </tr>
  <% end %>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</table>
<br>
