<style>
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table tr {
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
</style>


<h1>List of Teams</h1>

<table class="styled-table">
  <% @teams = Team.all %>

    <tr>
      <th>Team Names</th>
    </tr>
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.tName %></td>
      <td><a href = "/team/<%=team.id%>">Show</a></td>
      <td><%= link_to "Edit", "/team/#{team.id}/edit"%></td>
      <td><%= link_to "Destroy", "/team/#{team.id}",
                      method: :delete,
                      data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "loginPage team", team_newTeam_path %>
