<h1>Teams!</h1>

<table>
  <% @teams = Team.all %>

    <tr>
      <th>Name</th>
    </tr>
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.tName %></td>
      <td><a href = "/team/<%=team.id%>">Show</a></td>
      <td><%= link_to "Edit", "/team/#{team.id}/edit"%></td>
      <td><%= link_to "Destroy", "/team/#{team.id}",
                      method: :delete,
                      data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "loginPage team", team_newTeam_path %>