
<h1>Evaluations DashBoard - <%=@current_student.fname%></h1>
<% @teams = @current_student.teams %>
<% if @teams.length()>0%>
    <table>
    <tr>
        <th>Section</th>
        <th>Team</th>
        <th>Lab</th>
        <th>Evaluatee</th>
    </tr>
        <% @teams.each do |team| %>
            <% @tLabs = team.team_labs%>
            <% @tLabs.each do |lab|%>
                <th><%=@current_student.section.sectionNum%></th>
                <th><%=team.tName%></th>
                <th>Lab #<%=lab.lab_id%></th>
                <th>
                    <%team.students.each do |member|%>
                            <%=member.fname%>
                            <%=member.lname%>

                        <% if Evaluation.where(evaluator_id: @current_student.id,evaluated_id: member.id, lab_id: lab.lab_id).exists?%>
                            <%a = Evaluation.where(evaluator_id: @current_student.id,evaluated_id: member.id, lab_id: lab.lab_id)%>
                            <%a = a[0]%>
                            <%= link_to "Edit Eval", "evalUpdate/#{a.id}"%>
                        <%else%>
                            <%= link_to "Start Eval", evaluation_labEval_path(evaluator_id: @current_student.id, evaluated_id: member.id, lab_id: lab.lab_id) %>
                        <%end%>
                    <%end%>
                </th>
            <%end%>
        <% end %>
    </table>
<%else%>
    <h2>You are not enrolled in any teams!</h2>
<%end%>

<p><% #link_to "Do Eval", evaluation_newEval_path %></p>