<h1>Do Evaluation</h1>
<%=form_with(model: @evaluations, url: evaluation_labEval_path, local: true, method: "post")do |form| %>
  <div>
    <p>Evaluator: <%=@current_student.fname%> <%=@current_student.lname%></p>
    <p>Evaluatee: <%=Student.find(@evaluatee).fname%> <%=Student.find(@evaluatee).lname%></p>

    <br>
    <%= form.label :evaluator_id %><br>
    <%= form.hidden_field :evaluator_id, :value => @evaluator%>

    <br>
    <%= form.label :evaluated_id %><br>
    <%= form.hidden_field :evaluated_id, :value => @evaluatee%>

    <br>
    <%= form.label :lab_id %><br>
    <%= form.hidden_field :lab_id, :value => @labID%>

    <br>
    <%= form.label :comment %><br>
    <%= form.text_area :comment%>

    <br>
    <%= form.label :rating %><br>
    <%= form.number_field :rating, max: 5, min: 1%>

  </div>

  <div>
    <%= form.submit "Save"%>
  </div>

<% end %>