<h1>Do Evaluation</h1>

  <%=  form_with model: @evaluations do |form| %>
  <div>
    <% @students = Student.all %>
    <label for="evaluator_id">Evaluator</label>
    <select name ="evaluator_id" id = "evaluator_id">
      <% @students.each do |student|%>
        <option value="<%= student.id %>"><%= student.fname + " " + student.lname %></option>
      <% end %>
    </select>
    <label for="evaluated_id">Evaluated</label>
    <select name ="evaluated_id" id = "evaluated_id">
      <% @students.each do |student|%>
        <option value="<%= student.id %>"><%= student.fname + " " + student.lname %></option>
      <% end %>
    </select>
    <br>
    <%= form.label :comment %><br>
    <%= form.text_field :comment %>

    <br>
    <%= form.label :rating %><br>
    <%= form.text_field :rating %>

  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>