<%tl = TeamLab.find(params[:id]) %>
<h1>Team <%= rost.team.tName %></h1>
<br>
<h3>Members</h3>
<ul>
  <% rost.team.students.each do |student| %>
    <li>
      <%= student.fname %>
      <%= student.lname %>
      <%= student.email %>
      <%= link_to "Remove", "/roster/#{rost.id}",
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>