<h1>Labs</h1>

<table>
  <% @labs = Lab.all %>

    <tr>
      <th>Name</th>
    </tr>
  <% @labs.each do |lab| %>
    <tr>
      <td><%= lab.lab_name %></td>
      <td><a href = "/lab/<%=lab.id%>">Show</a></td>
      <% if logged_in? && @current_student.is_admin? %>
        <td><%= link_to "Edit", "/lab/#{lab.id}/edit"%></td>
        <td><%= link_to "Destroy", "/lab/#{lab.id}",
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "Add Lab", lab_newLab_path %>