
<h1>New Student</h1>

<%=  form_with model: @student do |form| %>
  <div>
    <%= form.label :fname %><br>
    <%= form.text_field :fname %>
  </div>

  <div>
    <%= form.label :lname %><br>
    <%= form.text_field :lname %>
  </div>

  <div>
    <%= form.label :buckId %><br>
    <%= form.text_field :buckId %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>

