<style>
input[type=text], select {
  padding: 12px 20px;
  margin: 8px 30px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  opacity: 0.7;
}
</style>


<h1>New Student</h1>

<%=  form_with model: @student do |form| %>
  <div>
    <%= form.label :fname %><br>
    <%= form.text_field :fname %>
  </div>

  <div>
    <%= form.label :lname %><br>
    <%= form.text_field :lname %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>

